Django>=4.0
djangorestframework
django-cors-headers
djangorestframework-simplejwt
django-storages
azure-storage-blob
gunicorn==24.1.1
psycopg2-binary
python-dotenv
azure-communication-email
Pillow
pytesseract
pdf2image
pypdf
joblib
numpy
pandas
scikit-learn
xgboost